*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-buttercup-sky: #FFF2B2;
    --color-dewy-blue: #A8C6E7;
    --color-sunwashed: #FFE08A;
    --color-cloud-puff: #FFF7D6;
    --color-morning-breeze: #7FA8D6;

 --color-sunwashed2: #fffef9;
}



.container{
    background: var(--color-cloud-puff);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: min(700px, 100%);
    padding: 40px clamp(20px, 8vw, 70px);
    margin: 0px auto;
    gap: 50px;
    min-height: 100vh;
       box-shadow:
              5px 6px 5px rgba(0, 0, 0, 0.086);
}

h1{
      font-family: "Rubik Bubbles", system-ui;
       font-size: clamp(28px, 6vw, 40px);
      background: var(--color-dewy-blue);
      color: white;
      padding: 10px 20px;
      border: 2px dashed var(--color-buttercup-sky);
      box-shadow: inset 6px 6px 5px rgba(0, 0, 0, 0.099),
              5px 6px 5px rgba(0, 0, 0, 0.086);
}
.layoutOption{
    /* background-color: plum; */
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--color-buttercup-sky);
    padding: 10px;
    margin: 15px 0px 18px 0px;
   font-size: clamp(20px, 5vw, 30px);
    gap: clamp(10px, 3vw, 20px);
    font-family: "Handlee", cursive;
    font-weight: bold;
    background: var(--color-dewy-blue);
    color: var(--color-cloud-puff);
    box-shadow: inset 6px 6px 5px rgba(0, 0, 0, 0.099),
              5px 6px 5px rgba(0, 0, 0, 0.086);

}
.option:hover{
    rotate: 2deg;
}
.option:active{
     box-shadow:none;

}

.imgIcon{
    width: 45px;
    border: none;
    border-radius: 10px;
}
.image {
    background-color: var(--color-sunwashed);
    border: 2px dashed var(--color-cloud-puff);

    padding: clamp(10px, 4vw, 20px);

    width: fit-content;
    max-width: 90%;

    margin: 0 auto;

    rotate: 5deg;

    box-shadow:
        inset 6px 6px 5px rgba(0, 0, 0, 0.099),
        5px 6px 5px rgba(0, 0, 0, 0.086);
}

.image img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
}
.image:hover{
    rotate: -2deg;
}

@media (max-width: 600px) {

    .container {
        padding: 30px 20px;
        gap: 30px;
    }

    .option {
        width: 100%;
    }

}